---
import Header from "../../components/header/header.astro";
import Footer from "../../components/footer/footer.astro";
import FixedButton from "../../components/fixed-button/fixed-button.astro";
import CompanyIco from "/images/company/Company.ico";
import "../layout/layout.css";

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;
const companyInfo = {
  contact: [
    {
      name: "+593 (986) 206-847",
      icon: "fas fa-phone-alt",
      refLink: "#",
    },
    {
      name: "+1 (941) 809-3071",
      icon: "fas fa-phone-alt",
      refLink: "#",
    },
    {
      name: "info@equasystems.com",
      icon: "far fa-envelope",
      refLink: "#",
    },
    {
      name: "Parque Empresarial Colón, Guayas, Cantón Guayaquil.",
      icon: "fas fa-map-marker-alt",
      refLink: "#",
    },
  ],
  socialMedia: [
    {
      name: " Facebook",
      icon: "fab fa-facebook-f",
      refLink: "#",
    },
    {
      name: " Twitter",
      icon: "fab fa-twitter",
      refLink: "#",
    },
    {
      name: " Instagram",
      icon: "fab fa-instagram",
      refLink: "#",
    },
  ],
  siteMap: [
    {
      name: "Inicio",
      refLink: "/",
    },
    {
      name: "Equipo",
      refLink: "/team",
    },
    {
      name: "Servicios",
      refLink: "/services",
    },
    {
      name: "Empresa",
      refLink: "/company",
    },
    {
      name: "Contacto",
      refLink: "/contact-us",
    },
  ],
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href={CompanyIco} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <meta
      name="keywords"
      content="equipo de desarrollo, desarrollo de software, desarrollo de aplicaciones, programadores expertos, equipo de desarrollo de software, soluciones tecnológicas, desarrollo web, desarrollo móvil, servicios de programación, desarrollo de software personalizado"
    />
    <title>EquaSystems | {pageTitle}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-LvewiOi2b+g6yJ08p4AVvC5zYVw0SQ7ADvV0wnG5txk0mJ0rKsUNwwlPVXYsGJm+pAK7z7rC69WVW8j/miUOHQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>

  <body>
    <Header companyData={companyInfo} />
    <slot />
    <FixedButton />
    <Footer companyData={companyInfo} />

    <script>
      //Carousel
      const slides = document.querySelectorAll(".slider-slide-carousel");
      let currentSlide = 0;
      const slideInterval = 10000;
      function nextSlide() {
        slides[currentSlide]?.classList.remove("active");
        currentSlide = (currentSlide + 1) % slides.length;
        slides[currentSlide]?.classList.add("active");
      }

      setInterval(nextSlide, slideInterval);
      slides[currentSlide]?.classList.add("active");
      //Carousel

      //Header
      const menuBtn = document.querySelector(".burguer");
      const menu = document.querySelector(".menu");
      const navItems = document.querySelectorAll(".menu ul li");

      let showMenu = false;

      menuBtn.addEventListener("click", toggleMenu);

      function toggleMenu() {
        if (!showMenu) {
          menuBtn?.classList.add("active");
          menu?.classList.add("show");
          navItems.forEach((item, index) => {
            item.style.transitionDelay = `${index * 50}ms`;
            item?.classList.add("show");
          });
          showMenu = true;
        } else {
          menuBtn?.classList.remove("active");
          navItems.forEach((item, index) => {
            item.style.transitionDelay = "";
            item?.classList.remove("show");
          });
          setTimeout(() => {
            menu.classList.remove("show");
          }, 500);
          showMenu = false;
        }
      }
      //Header
    </script>
  </body>
</html>
