---
import "../styles/Contact.css";
import Layout from "../components/layout/layout.astro";
import { externalFunction } from "../../src/js/sendEmail.js";

const companyInfo = {
  address:
    "Parque Empresarial Colón,Guayas, Cantón Guayaquil.",
  phoneNumber: "+593 (986) 206-847",
  phoneNumberUsa: "+1 (941) 809-3071",
  email: "info@equasystems.com",
};

const pageInfo = {
  title: "Contact Us",
  description:
    "Contáctanos y descubre cómo podemos ayudarte a llevar tu negocio al siguiente nivel con nuestras soluciones de software personalizadas. En nuestra empresa de desarrollo de software, nos apasiona crear soluciones innovadoras que satisfagan las necesidades únicas de nuestros clientes. ¡Permítenos ayudarte a impulsar tu negocio hoy!",
};

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const subject = data.get("subject");
    const message = data.get("message");
    console.log(data);
    console.log({name,email,subject,message});
    externalFunction({name,email,subject,message});
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
} 
---

<script>
  import { externalFunction } from "../js/sendEmail.js";
  const formulario = document.querySelector('#formEmail');
  console.log(formulario);
  document.getElementById('btn').addEventListener('click', () => {externalFunction(formulario)});
</script>

<Layout pageTitle={pageInfo.title} pageDescription={pageInfo.description}>
  <section class="contact-section">
    <h2 class="section-title-contact">Nos encantaría saber de ti, ¡contáctanos!</h2>
    <div class="contact-container">
      <div class="contact-info animate__animated animate__fadeInUp">
        <h2>Contáctanos</h2>
        <p>
          ¿Tienes alguna pregunta? ¡No dudes en contactarnos! Estamos aquí para
          ayudarte en lo que necesites
        </p>
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>{companyInfo.address}
          </li>
          <li><i class="fas fa-phone"></i>{companyInfo.phoneNumber}</li>
          <li><i class="fas fa-phone"></i>{companyInfo.phoneNumberUsa}</li>
          <li><i class="fas fa-envelope"></i>{companyInfo.email}</li>
        </ul>
      </div>
      <form id="formEmail" class="contact-form animate__animated animate__fadeInUp">
        <h2>Envíanos un mensaje</h2>
        <input
          type="text"
          name="name"
          placeholder="Nombre"
          required
          class="animated-placeholder"
        />
        <input
          type="email"
          name="email"
          placeholder="Correo electrónico"  
          required
          class="animated-placeholder"
        />
        <div id="email-error" style="display: none; color: red;">
          Ingrese un correo electrónico válido
        </div>
        <input
          type="text"
          name="subject"
          placeholder="Asunto"
          required
          class="animated-placeholder"
        />
        <textarea
          name="message"
          placeholder="Mensaje"
          required
          class="animated-placeholder"></textarea>
        <input
          type="submit"
          id="btn"
          class="btn btn-skyblue"
          value="Enviar"
        />
      </form>
    </div>
  </section>
</Layout>
