---
import "../styles/Contact.css";
import Layout from "../components/layout/layout.astro";


const companyInfo = {
  address:
    "Parque Empresarial Colón,Guayas, Cantón Guayaquil.",
  phoneNumber: "+593 (986) 206-847",
  phoneNumberUsa: "+1 (941) 809-3071",
  email: "info@equasystems.com",
};

const pageInfo = {
  title: "Contact Us",
  description:
    "Contáctanos y descubre cómo podemos ayudarte a llevar tu negocio al siguiente nivel con nuestras soluciones de software personalizadas. En nuestra empresa de desarrollo de software, nos apasiona crear soluciones innovadoras que satisfagan las necesidades únicas de nuestros clientes. ¡Permítenos ayudarte a impulsar tu negocio hoy!",
};
---

<Layout pageTitle={pageInfo.title} pageDescription={pageInfo.description}>
  <section class="contact-section">
    <h2 class="section-title-contact">Nos encantaría saber de ti, ¡contáctanos!</h2>
    <div class="contact-container">
      <div class="contact-info animate__animated animate__fadeInUp">
        <h2>Contáctanos</h2>
        <p>
          ¿Tienes alguna pregunta? ¡No dudes en contactarnos! Estamos aquí para
          ayudarte en lo que necesites
        </p>
        <ul>
          <li>
            <i class="fas fa-map-marker-alt"></i>{companyInfo.address}
          </li>
          <li><i class="fas fa-phone"></i>{companyInfo.phoneNumber}</li>
          <li><i class="fas fa-phone"></i>{companyInfo.phoneNumberUsa}</li>
          <li><i class="fas fa-envelope"></i>{companyInfo.email}</li>
        </ul>
      </div>
      <form id="formEmail" class="contact-form animate_animated animate_fadeInUp">
        <h2>Envíanos un mensaje</h2>
        <input
          type="text"
          name="name"
          placeholder="Nombre"
          required
          class="animated-placeholder"
        />
        <input
          type="email"
          name="email"
          placeholder="Correo electrónico"
          required
          class="animated-placeholder"
        />
        <div id="email-error" style="display: none; color: red;">
          Ingrese un correo electrónico válido
        </div>
        <input
          type="text"
          name="subject"
          placeholder="Asunto"
          required
          class="animated-placeholder"
        />
        <textarea
          name="message"
          placeholder="Mensaje"
          required
          class="animated-placeholder"></textarea>
        <input
          type="submit"
          class="btn btn-skyblue"
          value="Enviar"
          id="submitButton"
        />
      </form>
    </div>
  </section>
</Layout>

<script>
  import Swal from 'sweetalert2';
  const form = document.getElementById("formEmail");
  
  // Agregar un evento de escucha para el envío del formulario
  form.addEventListener("submit", function (event) {
    event.preventDefault(); // Evita que el formulario se envíe de inmediato
    spinnerShow();
    // obtener boton para deshabilitarlo
    const submitButton = form.querySelector('#submitButton') as HTMLInputElement;
  
    // Obtener los valores de los campos de entrada
    const nameInput = form.querySelector('input[name="name"]') as HTMLInputElement;
    const emailInput = form.querySelector('input[name="email"]') as HTMLInputElement;
    const subjectInput = form.querySelector('input[name="subject"]') as HTMLInputElement;
    const messageTextarea = form.querySelector('textarea[name="message"]') as HTMLTextAreaElement;
  
    const name = nameInput.value;
    const email = emailInput.value;
    const subject = subjectInput.value;
    const message = messageTextarea.value;
    submitButton.disabled = true;
  
    // Crear un objeto con los datos del formulario
    const formData = {
      name,
      email,
      subject,
      message,
    };
  
    // Realizar una solicitud POST a la API
    fetch("https://node-express-email.vercel.app/enviar-correo", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(formData),
    })
      .then((response) => {
        Swal.close();
        if (!response.ok) {
          throw new Error("Hubo un problema al enviar el formulario.");
        }
        return response.json();
      })
      .then((data) => {
        // Manejar la respuesta de la API aquí
        Swal.fire({
          icon: 'success',
          title: 'CORREO ENVIADO'
        });
        submitButton.disabled = false;
        nameInput.value = '';
        emailInput.value = '';
        subjectInput.value = '';
        messageTextarea.value = '';
      })
      .catch((error) => {
        submitButton.disabled = false;
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          footer: `<h4>${(error.error || error)}</h4>`
        });
      });
  });

  function spinnerShow(){
    Swal.fire({
      title: 'Enviando su correo...',
      icon: 'info',
      allowOutsideClick: false,
      allowEscapeKey: false,
      didOpen: () => {
	      Swal.showLoading()
      },
    });
  }
  
</script>