---
import "../footer/footer.css";
import FooterLogo from "/images/footer/footer.png";

interface SiteMap {
  name: string;
  refLink: string;
}

interface SocialMedia {
  name: string;
  refLink: string;
  icon: string;
}

interface Contact {
  name: string;
  refLink: string;
  icon: string;
}

interface Props {
  companyData: {
    contact: Array<Contact>;
    siteMap: Array<SiteMap>;
    socialMedia: Array<SocialMedia>;
  };
}

const { companyData } = Astro.props;
const { socialMedia, siteMap, contact } = companyData;
---

<footer>
  <div class="footer-columns">
    <div class="footer-column">
      <h3>Contacto</h3>
      <ul>
        {
          contact.map((element) => (
            <li>
              <i class={element.icon} />
              <a href={element.refLink} target="_blank">{element.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="footer-column">
      <h3>Síguenos en redes sociales</h3>
      <ul>
        {
          socialMedia.map((media) => (
            <li>
              <a href={media.refLink} target="_blank">
                <i class={media.icon} />
                {media.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="footer-column">
      <h3>Enlaces rápidos</h3>
      <ul>
        {
          siteMap.map((site) => (
            <li>
              <a href={site.refLink}>{site.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="footer-column">
      <div class="footer-logo">
        <img src={FooterLogo} alt="EquaSystems Logo" />
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Todos los derechos reservados - EquaSystems S.A.S</p>
  </div>
</footer>
